.projects {
  width: 100%;
  height: 100vh;

  display: flex;

  z-index: 0;

  background: linear-gradient(
    rgb(255, 153, 37),
    rgba(251, 232, 126, 0.65),
    rgba(204, 229, 251, 0.769)
  );

  z-index: 4;
}

.proys{
  width: 90%;
  height: 85%;

  margin: 110px auto auto 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 20px;

  overflow-y: scroll;

  background: rgba(0, 0, 0, 0.295);

  z-index: 4;
}

.proys::-webkit-scrollbar {
  border-radius: 10px;
  width: 15px;
}

.proys::-webkit-scrollbar-thumb {
  background: #000000a3;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.proys::-webkit-scrollbar-thumb:hover {
  background: #9a9a9a;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.proys::-webkit-scrollbar-thumb:active {
  background: #ffffff;
  border: 1px solid rgb(0, 0, 0);
}

.proys::-webkit-scrollbar-track {
  background: #ffffffe0;
  width: 5px;
  border-radius: 10px;
}

.proys::-webkit-scrollbar-track:hover,
.proys::-webkit-scrollbar-track:active {
  background: #e2e2e2b0;
}