@media (min-width: 1200px) {
  .btn {
    width: 60px;
    height: 60px;

    position: fixed;
    bottom: 8px;
    right: 15px;

    border-radius: 50%;
    border: 5px solid rgba(48, 255, 2, 0.274);
    padding: 8px;

    background: radial-gradient(rgb(98, 255, 0) 30%, rgba(255, 255, 255, 0));

    z-index: 6;
  }
}

@media (max-width: 1199px) {
  .btn {
    width: 35px;
    height: 35px;

    position: fixed;
    bottom: 0px;
    right: 10px;

    border-radius: 50%;
    border: 5px solid rgba(48, 255, 2, 0.274);
    padding: 8px;

    background: radial-gradient(rgb(98, 255, 0) 30%, rgba(255, 255, 255, 0));

    z-index: 6;
  }
}
